@use '~/css/helpers' as *;

.wrapper {
  display: flex;
  height: 100%;
  gap: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .arrows {
    display: grid;
    gap: 3px;
    grid-template-areas: '. up .' 'left down right';

    .arrow {
      aspect-ratio: 1;
      width: 1.5rem;
      height: 1.5rem;
      display: grid;
      place-items: center;
      background-color: var(--font-background);
      border-radius: 5px;
      transform-origin: center;

      opacity: 0;
      transform: translateY(50%) scale(0.5);

      animation: 0.3s cubic-bezier(0.75, -0.5, 0, 1.75) forwards 1 normal
        arrowShow;

      &:nth-child(1) {
        grid-area: up;
        animation-delay: 0.51s;
      }
      &:nth-child(2) {
        grid-area: left;
        animation-delay: 0.5s;
        svg {
          transform: rotate(-90deg);
        }
      }
      &:nth-child(3) {
        grid-area: down;
        animation-delay: 0.52s;
        svg {
          transform: rotate(180deg);
        }
      }
      &:nth-child(4) {
        grid-area: right;
        animation-delay: 0.53s;
        svg {
          transform: rotate(90deg);
        }
      }

      svg {
        display: block;
        width: 40%;
        height: 40%;

        path {
          fill: var(--font-color);
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0.4ch;

    .button {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 0.4ch;
      position: relative;

      font-family: var(--font-button);
      font-size: 0.65rem;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      padding: 0.25em 0.5em;
      border-radius: 0.4em;
      border: 1px var(--font-color-light) solid;
      margin-inline: 0.5ch;

      &.space {
        padding-inline: 1.5em;
      }

      svg {
        width: 1.5ch;
        height: 1.5ch;
        path {
          fill: var(--font-color);
        }
      }
    }
  }

  @keyframes arrowShow {
    0% {
      opacity: 0;
      transform: translateY(50%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}
