@use '~/css/helpers' as *;

.wrapper {
  display: grid;
  place-items: center;
  align-items: end;
  height: 100%;

  .subtitle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0.4ch;

    font-size: 1rem;
    padding: 0.6em 1em;
    background-color: var(--font-background);
    border-radius: 3em;

    opacity: 0;
    transform: translateY(50%) scale(0.9);

    @include subtitle-show-animation;

    & > .word {
      display: block;

      & > .letter {
        display: inline-block;
        opacity: 0;
        transform: translateY(50%) scale(0.5);

        @include letter-show-animation;
      }
    }
  }

  @include subtitle-show-keyframes;
  @include letter-show-keyframes;
}
